<%= image_tag(@user.profile.url) if @user.profile && @user.profile.url %>
<h1><%= @user.name %></h1>
<p>メールアドレス: <%= @user.email %></p>
<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user.id) %>
<% end %>
